header {
	background-image: url(../img/background/hero.jpg);
	background-size: 100%;
}

header section {
	background: rgba(0, 0, 0, 0.5);
}

.bfoto i {
	margin: 5% 25% ;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

.navega li {
	position: relative;
	float: left;
	text-align: center;
	margin: 5% 3% 10% 5%;
}

.centro {
	margin: 5%;
}

.boton1 {
	background-color: #2E313C;
	position: relative;
	float: right;
	padding: 3% 3% 3% 3%;
	margin-bottom: 30%;
	margin-top: 20%;
}

.boton2 {
	background: rgba(2, 1, 0, 0.4);
	position: relative;
	float: left;
	padding: 3% 3% 3% 3%;
	border: 1px transparent;
	margin-top: 20%;
}

.cuatro {
	padding: 5%;
}

.ico {
	font-size: 50px;
}
/*termina primera partes(ROSA)*/

/*Segundo backgraund (ROSA)*/
.city1 {
	background-image: url(../img/background/city.jpg);
	background-size: 100%;
}

.city1 .city{
	background: rgba(0, 0, 0, 0.5);
}

.boton3 {
	background: rgba(2, 1, 0, 0.4);
	position: relative;
	float: left;
	padding: 2% 3% 2% 3%;
	border: 1px transparent;
	margin-top: 4%;
	margin-bottom: 10%;
	margin-left: 45%
}
/*Choose the package(ROSA)*/
.blanco {
	background-color: white;
	width: 100%;
}

.n {
	background-color: #2E313C;
	width: 100%;
}
.blanco li {
	padding: 5%;
	border-bottom: 1px solid #888;
}

.boton {
	background-color: #2E313C;
	width: 50%;
	margin-left: 20%;
	margin-top: 5%;
	border-bottom: 1px solid #888;
}
span {
	font-size: 20px;
}

.a {
	background-color: #0dc0c0;
	width: 100%;
}

/*footer(ROSA)*/

.negro {
	background-color: #2E313C;
	width: 100%;
	height: 50%;
}

.imagC{
	width: 900px;
	height: 450px;
	margin-left: 160px;

}
.icoC{
	color:#0dc0c0;
	font-size: 20px;
}
.moC{
	margin-left: 60px;
}
.ajusC{
	width: 540px;
	margin: auto 0px;
}
fotosC{
	width: 150px;
	height: 150px;
	position: relative;
}

nav {
	margin-right: 0 auto;
	margin-left: 0 auto;
	margin-top: 4%;
	text-align: center;
	position: relative;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;

}
nav a {
	text-decoration: none;
	padding: 0 20px;
	font-weight: bold;
	color: black;

}
nav a:hover {
	background-color: #0dc0c0;
	color:white;

}
.separacionNav {
	border: 1px solid white;;
}
.back {
	background-color: white;
	width: 100%;
	border-top: 10px solid white;
	border-left: 15px solid white;
	border-right: 10px solid white;
	border-bottom: 50px solid white;
}
.back p{
	color: black;
}
.back h3{
	color: #888;
}
.separacionNav2 {
	border: 20px solid #888;
	background-color: #888;
}
.btnL{
	padding: 0 20px;
	font-weight: bold;
	color: white;
	margin-right: 0 auto;
	margin-left: 0 auto;
	margin-top: 4%;
	text-align: center;
	position: relative;
}
.btnL nav a:hover{
	background-color: #888;
}
.imgCus{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	position: relative;
	 
}
.centrarP{
	width: 100%;
	position: relative;
	
}
.back2{
	background-image: url(../img/background/contactus.jpg);
	min-height: 600px;
}
.transC{
	background:rgba(0, 0, 0, 0.5);
	width: 100%;
	min-height: 600px;
}
.conta1{
	margin-left: 30px;
}
.separacionNav3 {
	border-right: 25px solid #0dc0c0;
	border-left: 25px solid #0dc0c0;
	border-top: 15px solid #0dc0c0;
	border-bottom: 15px solid #0dc0c0;
	background-color:#0dc0c0;
}
.conta1 a{
	text-decoration: none
}
