header {
	background-image: url(../img/background/hero.jpg);
	background-size: 100%;
}

header section {
	background: rgba(0, 0, 0, 0.5);
}

.bfoto i {
	margin: 5% 25% ;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
}

.navega ul {
	list-style-type: none;
}

.navega li {
	position: relative;
	float: left;
	text-align: center;
	margin: 5% 3% 10% 5%;
}

.centro {
	margin: 5%;
}

.boton1 {
	background-color: #2E313C;
	position: relative;
	float: right;
	padding: 3% 3% 3% 3%;
	margin-bottom: 30%;
	margin-top: 20%;
}

.boton2 {
	background: rgba(0, 0, 0, 0,5);
	position: relative;
	float: left;
	padding: 3% 3% 3% 3%;
	border: 0,5px solid white;
	margin-top: 20%;
}

.cuatro {
	padding: 5%;
}

.ico {
	color: #009DA7;
	width: 10%;
	height: 10%;
}
